<a href="https://colab.research.google.com/github/Sophie-Sherwin/Linear_Algebra_Coding_Projects/blob/main/Copy_of_Sports_Teams_Rankings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load the preliminary code

In [1]:
import matplotlib.pyplot as plt
from sympy import Poly
import sympy as sym
import numpy as np
from numpy import c_

# We'll specify that x and t are variables:
x, t = sym.symbols('x, t')

ll = "loaded"

In [2]:
lll = " correctly!"

def rref(matrix):
    A = np.array(matrix, dtype=np.float64)
    
    r = 0 #row
    c = 0 #column

    (maxr, maxc) = A.shape

    prev_row_pivot = -1   # The previous row with a leading term:
    tmp_pivot_row = -1
    this_pivot_row = -1

    for c in range(maxc):  # go through each column
      tmp_pivot_row = -1  # reset the tmp pivot row
      this_pivot_row = -1  # reset this pivot row
      for r in range(maxr):  # Find the leading term in this column below prev_row_pivot
        if ((r > prev_row_pivot) and (A[r][c] != 0.0)):
          tmp_pivot_row = r  # find the new pivot row
      if (tmp_pivot_row > -1):  # we found a candidate for the leading term:
        #swap row this_pivot_row with (prev_row_pivot + 1)
        A[[tmp_pivot_row, prev_row_pivot+1]] = A[[prev_row_pivot + 1, tmp_pivot_row]]
        #set this_pivot_row to prev_row_pivot+1
        this_pivot_row = prev_row_pivot + 1
        #Now, normalize the row based on the pivot value:
        A[ this_pivot_row ] = A[ this_pivot_row ] / A[ this_pivot_row ][c]
        #Then, use this row to force 0's above and below the pivot entry:
        #subtract multiples of of the this_pivot_row row from the others
        for r_ in range(len(A)):
            if r_ != this_pivot_row:
                A[r_] = A[r_] - A[this_pivot_row] * A[r_][c] / A[this_pivot_row][c]
        prev_row_pivot = this_pivot_row
    return A   


def is_singular(matrix):
  singular = True
  notsingular = False

  (mr, mc) = matrix.shape
  
  return_value = notsingular
  if (mc - np.linalg.linalg.matrix_rank(matrix) > 0) :
    return_value = singular
  return return_value
 
    
    

print(">> The page ", ll, lll)

>> The page  loaded  correctly!

# Ranking Teams based on games

From our packet, we saw there were five games:

Home  | Away
------|------
Winona State 16 | Sioux Falls 15
Winona State 34 | Augustana 20
Sioux Falls 51  | Augustana 13
Duluth 28       |  Augustana 17
Winona State 17 | Duluth 37

Let's encode this system into a matrix.

The unknown rankings are $r_w, r_s, r_a, r_d$.

The system looks like $M \vec{x} = \vec{b}$, or

$$
\left( \begin{array}{cccc} 1 & -1 & 0 & 0 \\ 1 & 0 & -1 & 0 \\ 0 & 1 & -1 & 0 \\ 0 & 0 & -1 & 1 \\ -1 & 0  & 0 & 1 \\ \end{array} \right) \, \left( \begin{array}{c} r_w \\ r_s \\ r_a \\ r_d \\ \end{array} \right) = \left( \begin{array}{c} 1 \\ 14 \\ 38 \\ 11 \\ 20 \\ \end{array} \right)$$

We'll solve this system using least squares 
$$M^T I M \vec{x} = M^T I \vec{b} $$

$$ \vec{x} = \left( M^T I M  \right)^{-1} M^T I \vec{b} $$

In [4]:
# create the matrix:
M = np.matrix([[-1, 0, 0, 1, 0, 0, 0],
               [-1, 0, 0, 0, 1, 0, 0],
               [-1, 0, 0, 0, 0, 1, 0],
               [0, 1, -1, 0, 0, 0, 0],
               [0, 0, 1, -1, 0, 0, 0],
               [0, 0, -1, 0, 1, 0, 0],
               [0, 0, -1, 0, 0, 0, 1],
               [0, 0, 0, 1, -1, 0, 0],
               [0, 0, 0, -1, 0, 1, 0],
               [0, 0, 0, 1, 0, 0, -1],
               [0, 0, 0, 0, 1, -1, 0],
               [0, 0, 0, 0, 1, 0, -1],
               [0, 0, 0, 0, 0, 1, -1]])


# create the vector for the right hand side:
pts = np.matrix([[2], [3], [2], [3], [1], [3], [3], [3], [3], [3], [2], [1], [1]])
 
#Make sure the system looks appropriate:
print(np.c_[M,pts])

[[-1  0  0  1  0  0  0  2]
 [-1  0  0  0  1  0  0  3]
 [-1  0  0  0  0  1  0  2]
 [ 0  1 -1  0  0  0  0  3]
 [ 0  0  1 -1  0  0  0  1]
 [ 0  0 -1  0  1  0  0  3]
 [ 0  0 -1  0  0  0  1  3]
 [ 0  0  0  1 -1  0  0  3]
 [ 0  0  0 -1  0  1  0  3]
 [ 0  0  0  1  0  0 -1  3]
 [ 0  0  0  0  1 -1  0  2]
 [ 0  0  0  0  1  0 -1  1]
 [ 0  0  0  0  0  1 -1  1]]

In [15]:
# Generate the transpose of M:
MT = M.transpose()

print("The Transpose of M is:")
print(MT)

# and find MT*M and MT*pts:
print("\n")
print("MT * M is: ")
MTM = MT * M
print(MTM)

print("\n")
print("MT * pts is:")
MTpts = MT * pts
print(MTpts)

The Transpose of M is:
[[-1 -1 -1  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 -1  1 -1 -1  0  0  0  0  0  0]
 [ 1  0  0  0 -1  0  0  1 -1  1  0  0  0]
 [ 0  1  0  0  0  1  0 -1  0  0  1  1  0]
 [ 0  0  1  0  0  0  0  0  1  0 -1  0  1]
 [ 0  0  0  0  0  0  1  0  0 -1  0 -1 -1]]


MT * M is:
[[ 3  0  0 -1 -1 -1  0]
 [ 0  1 -1  0  0  0  0]
 [ 0 -1  4 -1 -1  0 -1]
 [-1  0 -1  5 -1 -1 -1]
 [-1  0 -1 -1  5 -1 -1]
 [-1  0  0 -1 -1  4 -1]
 [ 0  0 -1 -1 -1 -1  4]]


MT * pts is:
[[-7]
 [ 3]
 [-8]
 [ 4]
 [ 6]
 [ 4]
 [-2]]

If $M^T M$ has an inverse, then we can use it.  But, if $M^T M$ is singular, then it doesn't have an inverse.  In this situation, we need to replace every entry in one row (say the bottom row) of $M^T M$ and $M^T \vec{pts}$ with 1's.  (This knocks the system out of *not* having an inverse, so it will now have an inverse.)

In [16]:
#  Check if MTM is singular
is_singular(MT*M)

True

In [19]:
# If MTM is singular, then adjust one row of MTM and MT pts to be just 1's:

#MTM[3] is the entire 4th row of MTM, 
#so MTM[3] = 1 will put 1's in MTM's 4th row.

MTM[6] = 1
MTpts[6] = 1

print("MTM is now: ")
print(MTM)

print("and MTpts is now:")
print(MTpts)

print("Is our modified MTM singular?")
is_singular(MTM)

MTM is now:
[[ 3  0  0 -1 -1 -1  0]
 [ 0  1 -1  0  0  0  0]
 [ 0 -1  4 -1 -1  0 -1]
 [-1  0 -1  5 -1 -1 -1]
 [-1  0 -1 -1  5 -1 -1]
 [-1  0  0 -1 -1  4 -1]
 [ 1  1  1  1  1  1  1]]
and MTpts is now:
[[-7]
 [ 3]
 [-8]
 [ 4]
 [ 6]
 [ 4]
 [ 1]]
Is our modified MTM singular?

False

In [14]:
#Find our solution using the inverse of MTM:

#First, find the inverse of MTM:
MTMI = np.linalg.inv(MTM)

print("The inverse of MTM is:")
print(MTMI)

#Now, use the inverse of MTM to solve for the rankings:

print("\n")
print("The solution are rankings:")
MTMI * MTpts

The inverse of MTM is:
[[ 0.29336735 -0.25765306 -0.11479592  0.14285714  0.          0.02295918
  -0.05867347]
 [-0.06377551  1.0994898   0.24234694  0.14285714  0.         -0.04846939
   0.0127551 ]
 [-0.06377551  0.0994898   0.24234694  0.14285714  0.         -0.04846939
   0.0127551 ]
 [-0.15603741 -0.34991497 -0.20705782  0.14285714 -0.16666667 -0.15858844
  -0.16879252]
 [ 0.01062925 -0.1832483  -0.04039116  0.14285714  0.16666667  0.00807823
  -0.00212585]
 [ 0.0255102  -0.23979592 -0.09693878  0.14285714  0.          0.21938776
  -0.00510204]
 [-0.04591837 -0.16836735 -0.0255102   0.14285714  0.          0.00510204
   0.20918367]]


The solution are rankings:

matrix([[-1.55612245],
        [ 1.72959184],
        [-1.27040816],
        [ 0.54506803],
        [ 0.87840136],
        [ 0.90816327],
        [-0.23469388]])

#  Game Data  - Fall Sports

Find the game data for the four teams in the NFC North and NFC South.

The teams are:

* **NFC North:**  Green Bay Packers, Chicago Bears, Detroit Lions, Minnesota Vikings
* **NFC South:**  Atlanta Falcons, Carolina Panthers, New Orleans Saints, Tampa Bay Buccaneers


It may be helpful to do a google search to find the data.

Be sure to create your matrix on the handout, then enter the data for the system below.

# Game Data - Spring Sports

Find the game data for the seven teams in the Western Division for Men's Big Ten Basketball.

**The teams:**  Wisconsin, Minnesota, Iowa, Illinois, Nebraska, Purdue, and Northewstern.

I've provided **most** of the data, but you have to do a Google search to find the scores for the last two teams.

Be sure to create your matrix on the handout, then enter the data for the system below.

In [ ]:
# create the matrix:
M = np.matrix([[1, -1, 0, 0],
               [1, 0, -1, 0],
               [0, 1, -1, 0],
               [0, 0, -1, 1],
               [-1, 0, 0, 1]])


# create the vector for the right hand side:
pts = np.matrix([[1], [14], [38], [11], [20]])
 
#Make sure the system looks appropriate:
print(np.c_[M,pts])

In [ ]:
# Generate the transpose of M:
MT = M.transpose()

print("The Transpose of M is:")
print(MT)

# and find MT*M and MT*pts:
print("\n")
print("MT * M is: ")
MTM = MT * M
print(MTM)

print("\n")
print("MT * pts is:")
MTpts = MT * pts
print(MTpts)

In [ ]:
#  Check if MTM is singular
is_singular(MT*M)

In [ ]:
# Careful - you might not need to do this!  
# Be sure to check whether MTM is singular on the previous line.

# If MTM is singular, then adjust one row of MTM and MT pts to be just 1's:

#MTM[3] is the entire 4th row of MTM, 
#so MTM[3] = 1 will put 1's in MTM's 4th row.

MTM[3] = 1
MTpts[3] = 1

print("MTM is now: ")
print(MTM)

print("and MTpts is now:")
print(MTpts)

print("Is our modified MTM singular?")
is_singular(MTM)

In [ ]:
#Find our solution using the inverse of MTM:

#First, find the inverse of MTM:
MTMI = np.linalg.inv(MTM)

print("The inverse of MTM is:")
print(MTMI)

#Now, use the inverse of MTM to solve for the rankings:

print("\n")
print("The solution are rankings:")
MTMI * MTpts